{% for message in get_flash_bag().get('errors') %}
    <span style="color: darkred">{{ message }}</span>
{% endfor %}

{% for message in get_flash_bag().get('success') %}
    <span style="color: green">{{ message }}</span>
{% endfor %}